:root {
    --main-border-radius: 10px;
    --second-color: #0075ff;
    --first-color: #2a77ce;
}


/* color */

.c-black {
    color: #000;
}

.c-orange {
    color: #f59e0b;
}

.c-main {
    color: var(--second-color);
}

.c-gray {
    color: gray;
}

.c-8 {
    color: #888;
}

/* background-color */

.bg-white {
    background-color: #fff;
}

.bg-gray {
    background-color: gray;
}

/* radius */

.rad-6 {
    border-radius: 6px;
}

.rad-10 {
    border-radius: 10px;
}

/* padding */

.p-6 {
    padding: 6px;
}

.p-8 {
    padding: 8px;
}

.p-10 {
    padding: 10px;
}

.p-15 {
    padding: 15px;
}

.p-20 {
    padding: 20px;
}

.pt-0 {
    padding-top: 0;
}

.pt-10 {
    padding-top: 10px;
}

.pt-13 {
    padding-top: 13px;
}

.pt-15 {
    padding-top: 15px;
}

.pr-30 {
    padding-right: 30px;
}

.pb-15 {
    padding-bottom: 15px;
}

.pb-20 {
    padding-bottom: 20px;
}



/* margin */

.mar-auto {
    margin: auto;
}

.m-0 {
    margin: 0;
}

.mt-0 {
    margin-top: 0;
}

.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-13 {
    margin-top: 13px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mr-5 {
    margin-right: 5px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-15 {
    margin-right: 15px;
}

.mr-20 {
    margin-right: 20px;
}

.mr-30 {
    margin-right: 30px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-13 {
    margin-bottom: 13px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}

.ml-10 {
    margin-left: 10px;
}

.ml-20 {
    margin-left: 20px;
}

.ml-30 {
    margin-left: 30px;
}

.ml-40 {
    margin-left: 40px;
}

/* font-size */

.fs-10 {
    font-size: 10px;
}

.fs-12 {
    font-size: 12px;
}

.fs-13 {
    font-size: 13px;
}

.fs-14 {
    font-size: 14px;
}

.fs-15 {
    font-size: 15px;
}

.fs-16 {
    font-size: 16px;
}

.fs-24 {
    font-size: 24px;
}

.fs-30 {
    font-size: 30px;
}

.fs-40 {
    font-size: 40px;
}

.txt-center {
    text-align: center;
}

.cap {
    text-transform: capitalize;
}



/* font-weight */

.fweight-100 {
    font-weight: 100;
}

.fweight-200 {
    font-weight: 200;
}

.fweight-300 {
    font-weight: 300;
}

.fweight-400 {
    font-weight: 400;
}

.fweight-500 {
    font-weight: 500;
}

.fweight-600 {
    font-weight: 600;
}

.fweight-700 {
    font-weight: 700;
}

.fweight-800 {
    font-weight: 800;
}

.fweight-900 {
    font-weight: 900;
}

/* display */

.d-block {
    display: block;
}

.d-inblock {
    display: inline-block;
}

.d-flex {
    display: flex;
}

.d-flex-col {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-end {
    align-items: flex-end;
}

.just-between {
    justify-content: space-between;
    flex-wrap: wrap;
}

.just-around {
    justify-content: space-around;
    flex-wrap: wrap;
}



.flex-wrap {
    flex-wrap: wrap;
}

.gap-5 {
    gap: 5px;
}

.gap-10 {
    gap: 10px;
}

.gap-20 {
    gap: 20px;
}

.flex-grow {
    flex-grow: 1;
}

.flex-grow2 {
    flex-grow: 2;
}

.flex-grow3 {
    flex-grow: 3;
}

.flex-grow4 {
    flex-grow: 4;
}

.d-grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* width */

.w-250 {
    width: 250px;
}

.w-full {
    width: 100%;
}

.fit {
    width: fit-content;
}

/* border */
.border-t {
    border-top: 1px solid #dddddd88;
}

.border-r {
    border-right: 1px solid #dddddd88;
}

.border-b {
    border-bottom: 1px solid #dddddd88;
}

/* position */

.p-rel {
    position: relative;
}

.p-abs {
    position: absolute;
}



/* ********* */
.right {
    float: right;
}

.over-h {
    overflow: hidden;
}