/* start global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background-color: var(--second-color);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--first-color);
}


:root {
    --main-border-radius: 10px;
    --second-color: #0075ff;
    --first-color: #2a77ce;
    --blue-color: #0075ff;
}

body,
.font-fam {
    font-family: 'Open Sans', sans-serif;
}


a {
    text-decoration: none;
}

*:focus {
    outline: none;
}

.active {
    background-color: #f6f6f6;
}

.global_h2 {
    margin-bottom: 10px;
}

.global_p {
    color: #888;
    font-size: 15px;
    margin-bottom: 20px;
}

/* Start button-switch */

.button-switch .toggel-checkbox {
    appearance: none;
}

.button-switch .toggel-switch {
    background-color: #ccc;
    width: 76px;
    height: 28px;
    border-radius: 16px;
    position: relative;
    cursor: pointer;
    transition: .3s;
}


.button-switch .toggel-switch::before {
    content: "\f00d";
    color: #ccc;
    font-family: var(--fa-style-family-classic);
    font-weight: 900;
    background-color: #fff;
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    display: grid;
    place-content: center;
    top: 4px;
    left: 4px;
    transition: .3s;
}

.button-switch .toggel-checkbox:checked+.toggel-switch {
    background-color: var(--second-color);
}

.button-switch .toggel-checkbox:checked+.toggel-switch::before {
    content: "\f00c";
    left: 52px;
    color: var(--second-color);
}

.button-switch .toggel-switch-- {
    background-color: #ccc;
    width: 80px;
    height: 18px;
    border-radius: 16px;
    position: relative;
    cursor: pointer;
    transition: .3s;
}

.button-switch .toggel-switch--::before {
    content: "\f00d";
    font-size: 12px;
    color: #ccc;
    font-family: var(--fa-style-family-classic);
    font-weight: 900;
    background-color: #fff;
    width: 12px;
    height: 12px;
    position: absolute;
    border-radius: 50%;
    display: grid;
    place-content: center;
    top: 3px;
    left: 3px;
    transition: .3s;
}

.button-switch .toggel-checkbox:checked+.toggel-switch-- {
    background-color: var(--second-color);
}

.button-switch .toggel-checkbox:checked+.toggel-switch--::before {
    content: "\f00c";
    left: 64px;
    color: var(--second-color);
}

.btn-shablue {
    background-color: var(--second-color);
    color: #fff;
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.btn-shablue-- {
    background-color: #0075ff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
}

.btn-shared-- {
    background-color: #f44336;
    color: #fff;
    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
}

.btn-shaeee {
    background-color: #eee;
    color: #000;
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.btn-shablue- {
    background-color: var(--second-color);
    color: #fff;
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.btn-shaeee- {
    background-color: #eee;
    color: #000;
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

/* End-button-switch */


/* end global */

main {
    display: flex;
}

/* start aside */

aside {
    /* height: 1000vh; */
    width: 220px;
    position: relative;
    padding: 20px;
    box-shadow: 0 0 20px #00000020;
}

@media (max-width:992px) {
    aside {
        width: 195px;
    }
}

aside nav {
    margin-bottom: 30px;
}

aside nav h3 {
    text-align: center;
}

aside nav div {
    width: 12px;
    height: 12px;
    background-color: #000;
    border-radius: 50%;
    margin: 15px auto 0;
    position: relative;
}

aside nav div::before {
    content: "";
    width: 30px;
    height: 2px;
    background-color: #000;
    position: absolute;
    top: 6px;
    left: -35px;
    border-radius: 5px;
}

aside nav div::after {
    content: "";
    width: 30px;
    height: 2px;
    background-color: #000;
    position: absolute;
    top: 6px;
    right: -35px;
    border-radius: 5px;
}

aside main {
    display: flex;
    flex-direction: column;

}

aside main a {
    display: flex;
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 11.5px;
    color: #000;
}

aside main a:hover {
    background-color: #f6f6f6;
}

aside main a i {
    margin-right: 10px;
}

aside main a p {
    font-size: 14px;
}

/* Header */

header {
    background-color: #f1f5f9;
    flex-grow: 49;
    width: calc(100vw - 220px);
}

@media (max-width:767px) {
    aside {
        width: 58px;
        padding: 10px;
    }

    aside nav h3 {
        font-size: 14px;
    }

    aside nav div {
        display: none;
    }

    aside nav div::before,
    aside nav div::after {
        display: none;
    }

    aside main {
        align-items: center;
    }


    aside main a i {
        margin-right: 0;
        text-align: center;
    }

    aside main a p {
        display: none;
    }

}

/* End aside */

/* Start header */
header nav {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    padding-left: 20px;
}

form {
    position: relative;

}

header nav form i {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    color: #777;
}

header nav input {
    padding: 10px;
    padding-left: 30px;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 150px;
    position: relative;
    font-size: 12px;
    transition: width .3s;
}

header nav input:focus {
    width: 200px;
}

header nav input:focus::placeholder {
    opacity: 0;
}

header nav input::placeholder {
    font-size: 12px;
    transition: .3s;
}

header nav div {
    display: flex;
    align-items: center;
}

header nav i {
    padding-right: 15px;
}

header nav div i {
    display: block;
    position: relative;
    padding-left: 20px;
}

header nav img {
    width: 35px;
    display: block;
}

header nav div i::after {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    top: -12px;
    left: 35px;
}

/* End header *

/* Start content */
main header .content {
    width: 100%;
}

.content .dash h1 {
    margin: 0;
    padding: 0;
    position: relative;
    width: fit-content;
    /* margin-bottom: 40px; */
}

.content .dash h1::before {
    content: "";
    width: 130px;
    height: 3px;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: -12px;
}

.content .dash h1::after {
    content: "";
    width: 45px;
    height: 3px;
    background-color: #000;
    position: absolute;
    left: 0;
    bottom: -12px;
}

/* End contrnt */

/* welcome */

.welcome .zero {
    background-color: #eee;
    border-radius: 10px 10px 0 0;
    padding: 20px;
    position: relative;
    height: 140px;
}

.welcome .zero h2 {
    margin-bottom: 10px;
}

.welcome .zero p {
    color: #888;
}

.welcome .zero .avatar {
    width: 64px;
    border-radius: 50%;
    border: 5px solid #fff;
    position: absolute;
    top: 110px;
}

.welcome .zero .font {
    width: 200px;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);

}

.welcome .osama {
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    padding: 20px;
    height: 270px;
}

.welcome .osama .elemomo {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    margin: 60px 0 40px;
    position: relative;
}

@media (max-width:620px) {
    .welcome .osama .elemomo {
        display: block;
    }

    .welcome .osama .elemomo div {
        margin-bottom: 20px;
    }

    .welcome .osama .elemomo div p {
        margin: 0;
        padding: 0;
        margin-bottom: 5px;
    }

    .welcome .osama {
        height: 320px;
    }


}

@media (max-width:500px) {
    .welcome .zero .font {
        width: 140px;
    }
}

.welcome .osama .elemomo::before {
    content: "";
    width: calc(100% + 40px);
    height: 1px;
    background-color: #ddddddb3;
    position: absolute;
    top: -20px;
    left: -20px;
}

.welcome .osama .elemomo::after {
    content: "";
    width: calc(100% + 40px);
    height: 1px;
    background-color: #ddddddb3;
    position: absolute;
    bottom: -20px;
    left: -20px;
}

.welcome .osama .elemo {
    color: #888;
    font-size: 14px;
    margin-top: 10px;
}

.welcome .osama button {
    background-color: var(--second-color);
    color: #fff;
    border: none;
    padding: 5px 9px;
    border-radius: 5px;
    float: right;
}

.main_content {
    display: grid;
    gap: 20px;
}

@media (min-width:560px) {
    .main_content {
        grid-template-columns: repeat(auto-fill, minmax(447px, 1fr));
    }
}

/* Quick Draft */

.main_content .quick {
    background-color: #fff;
    border-radius: var(--main-border-radius);
    height: 410px;
}


.main_content .quick .content h2 {
    margin-bottom: 10px;
}

.main_content .quick .content p {
    color: #888;
    font-size: 15px;
    margin-bottom: 20px;
}


.main_content .quick .content input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    background-color: #eee;
}

.main_content .quick .content input::placeholder {
    font-size: 14px;
}

.main_content .quick .content textarea {
    display: block;
    width: 100%;
    height: 180px;
    resize: none;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #eee;
}

.main_content .quick .content textarea::placeholder {
    font-size: 14px;
}

.main_content .quick .content button {
    background-color: var(--second-color);
    color: #fff;
    border: none;
    padding: 5px 9px;
    border-radius: 5px;
    float: right;
}

/* yearly */

.main_content .yearly {
    background-color: #fff;
    border-radius: var(--main-border-radius);
}


/* money */

.main_content .yearly .content .money {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.main_content .yearly .content .money i {
    color: var(--second-color);
    background-color: #0075ff33;
    width: 80px;
    height: 80px;
    display: grid;
    place-items: center;
    margin-right: 15px;
    font-size: 20px;
}

.main_content .yearly .content .money div {
    width: calc(100% - 95px);
}

.main_content .yearly .content .money div .first {
    color: #888;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;
}

.main_content .yearly .content .money div .second {
    font-weight: 700;
}

.main_content .yearly .content .money div .line {
    width: 100%;
    height: 4px;
    background-color: #0075ff33;
    margin-top: 12px;
    position: relative;
}

.main_content .yearly .content .money div .line::before {
    content: "";
    width: 80%;
    height: 100%;
    background-color: var(--second-color);
    position: absolute;
}

.main_content .yearly .content .money div .line::after {
    content: "";
    border-width: 6px;
    border-color: var(--second-color) transparent transparent;
    border-style: solid;
    position: absolute;
    top: -10px;
    left: calc(80% - 6px);
}

.main_content .yearly .content .money div .line span {
    background-color: var(--second-color);
    color: #fff;
    padding: 3px 4px;
    border-radius: 6px;
    font-size: 13px;
    position: absolute;
    bottom: 15px;
    left: calc(80% - 17px);
}

/* project */

.main_content .yearly .content .project i {
    color: #f59e0b;
    background-color: #f59e0b33;
    width: 80px;
    height: 80px;
    display: grid;
    place-items: center;
    margin-right: 15px;
    font-size: 20px;
}

.main_content .yearly .content .project div .line {
    width: 100%;
    height: 4px;
    background-color: #f59e0b33;
    margin-top: 12px;
    position: relative;
}

.main_content .yearly .content .project div .line::before {
    content: "";
    width: 55%;
    height: 100%;
    background-color: #f59e0b;
    position: absolute;
}

.main_content .yearly .content .project div .line::after {
    content: "";
    border-width: 6px;
    border-color: #f59e0b transparent transparent;
    border-style: solid;
    position: absolute;
    top: -10px;
    left: calc(55% - 6px);
}

.main_content .yearly .content .project div .line span {
    background-color: #f59e0b;
    color: #fff;
    padding: 3px 4px;
    border-radius: 6px;
    font-size: 13px;
    position: absolute;
    bottom: 15px;
    left: calc(55% - 17px);
}

/* team */

.main_content .yearly .content .team i {
    color: #22c55e;
    background-color: #22c55e33;
    width: 80px;
    height: 80px;
    display: grid;
    place-items: center;
    margin-right: 15px;
    font-size: 20px;
}

.main_content .yearly .content .team div .line {
    width: 100%;
    height: 4px;
    background-color: #22c55e33;
    margin-top: 12px;
    position: relative;
}

.main_content .yearly .content .team div .line::before {
    content: "";
    width: 75%;
    height: 100%;
    background-color: #22c55e;
    position: absolute;
}

.main_content .yearly .content .team div .line::after {
    content: "";
    border-width: 6px;
    border-color: #22c55e transparent transparent;
    border-style: solid;
    position: absolute;
    top: -10px;
    left: calc(75% - 6px);
}

.main_content .yearly .content .team div .line span {
    background-color: #22c55e;
    color: #fff;
    padding: 3px 4px;
    border-radius: 6px;
    font-size: 13px;
    position: absolute;
    bottom: 15px;
    left: calc(75% - 17px);
}

/* tickets */

.main_content .tickets {
    background-color: #fff;
    border-radius: var(--main-border-radius);
}

.main_content .tickets .content .elemo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

@media (max-width:767px) {
    .main_content .tickets .content .elemo {
        grid-template-columns: 1fr;
    }
}

.main_content .tickets .content .elemo .elemomo {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    border: 1px solid #88888850;
    border-radius: var(--main-border-radius);
}

.main_content .tickets .content .elemo .elemomo i {
    margin-bottom: 15px;
    color: orange;
}

.main_content .tickets .content .elemo .elemomo span {
    display: block;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: bold;
}

.main_content .tickets .content .elemo .elemomo p {
    color: #888;
    font-size: 13px;
}

/* Latest */

.main_content .latest {
    background-color: #fff;
    border-radius: var(--main-border-radius);
}


.main_content .latest .content h2 {
    margin-bottom: 20px;
}

.main_content .latest .content .elemomo:not(:last-child) {
    border-bottom: 1px solid #88888830;
    margin-bottom: 20px;
}

.main_content .latest .content .elemo .elemomo {
    display: flex;
    padding-bottom: 20px;
    position: relative;
}

.main_content .latest .content .elemo .elemomo img {
    width: 100px;
    border-radius: 6px;
    margin-right: 20px;
}

.main_content .latest .content .elemo .elemomo div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
}

.main_content .latest .content .elemo .elemomo div h4 {
    letter-spacing: -.5px;
    word-spacing: 1px;
}

.main_content .latest .content .elemo .elemomo div p {
    color: #888;
    font-size: 14px;
    font-weight: 500;
}

.main_content .latest .content .elemo .elemomo span {
    height: fit-content;
    font-size: 13px;
    align-self: center;
}

@media (max-width:767px) {
    .main_content .latest .content h2 {
        text-align: center;
    }

    .main_content .latest .content .elemo .elemomo {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .main_content .latest .content .elemo .elemomo img {
        margin-right: 0px;
        margin-bottom: 7px;
    }

    .main_content .latest .content .elemo .elemomo div h4 {
        text-align: center;
        margin-bottom: 5px;
    }

    .main_content .latest .content .elemo .elemomo div p {
        margin-bottom: 15px;
    }

    .main_content .latest .content .elemo .elemomo:nth-child(1)::before,
    .main_content .latest .content .elemo .elemomo:nth-child(2)::before,
    .main_content .latest .content .elemo .elemomo:nth-child(3)::before,
    .main_content .latest .content .elemo .elemomo:nth-child(4)::before {
        top: 120px;
        right: 50%;
        transform: translateX(50%);
    }

}

/* Latest Tasks */

.main_content .latest_tasks {
    background-color: #fff;
    border-radius: var(--main-border-radius);
}


.main_content .latest_tasks .content h2 {
    margin-bottom: 20px;
}


.main_content .latest_tasks .content .elemo .elemomo {
    display: flex;
    justify-content: space-between;
}

.main_content .latest_tasks .content .elemo .elemomo:not(:last-child) {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #88888820;
}

.main_content .latest_tasks .content .elemo .elemomo:nth-child(4) h4,
.main_content .latest_tasks .content .elemo .elemomo:nth-child(4) p {
    text-decoration: line-through;
    opacity: .3;
    filter: blur(.3px);
}

.main_content .latest_tasks .content .elemo .elemomo:nth-child(4) i {
    opacity: .3;
}


.main_content .latest_tasks .content .elemo .elemomo div h4 {
    margin-bottom: 7px;
}

.main_content .latest_tasks .content .elemo .elemomo div p {
    color: #888888;
}

.main_content .latest_tasks .content .elemo .elemomo i {
    cursor: pointer;
}

.main_content .latest_tasks .content .elemo .elemomo i:hover {
    color: orange;
}

/* Top Search Items  */

.main_content .Top_Search_Items {
    background-color: #fff;
    border-radius: var(--main-border-radius);
}


.main_content .Top_Search_Items .content h2 {
    margin-bottom: 30px;
}

.main_content .Top_Search_Items .content>p {
    color: #888;
    margin-bottom: 35px;
    position: relative;
}

.main_content .Top_Search_Items .content>p::before {
    content: "Search Count";
    position: absolute;
    top: 0;
    right: 0;
}


.main_content .Top_Search_Items .content .elemo p {
    color: #000;
    font-weight: 500;
    position: relative;
}

.main_content .Top_Search_Items .content .elemo p:not(:last-child) {
    margin-bottom: 35px;
}

.main_content .Top_Search_Items .content .elemo p:nth-child(1)::before {
    content: "220";
    font-size: 14px;
    position: absolute;
    right: 0;
    background-color: #eee;
    padding: 5px 10px;
    border-radius: 5px;
}

.main_content .Top_Search_Items .content .elemo p:nth-child(2)::before {
    content: "180";
    font-size: 14px;
    position: absolute;
    right: 0;
    background-color: #eee;
    padding: 5px 10px;
    border-radius: 5px;
}

.main_content .Top_Search_Items .content .elemo p:nth-child(3)::before {
    content: "160";
    font-size: 14px;
    position: absolute;
    right: 0;
    background-color: #eee;
    padding: 5px 10px;
    border-radius: 5px;
}

.main_content .Top_Search_Items .content .elemo p:nth-child(4)::before {
    content: "145";
    font-size: 14px;
    position: absolute;
    right: 0;
    background-color: #eee;
    padding: 5px 10px;
    border-radius: 5px;
}

.main_content .Top_Search_Items .content .elemo p:nth-child(5)::before {
    content: "110";
    font-size: 14px;
    position: absolute;
    right: 0;
    background-color: #eee;
    padding: 5px 10px;
    border-radius: 5px;
}

.main_content .Top_Search_Items .content .elemo p:nth-child(6)::before {
    content: "95";
    font-size: 14px;
    position: absolute;
    right: 0;
    background-color: #eee;
    padding: 5px 10px;
    border-radius: 5px;
}


/* Latest Uploads */

.main_content .Latest_Uploads {
    background-color: #fff;
    border-radius: var(--main-border-radius);
}


.main_content .Latest_Uploads .content h2 {
    margin-bottom: 30px;
}


.main_content .Latest_Uploads .content .elemo .elemomo {
    display: flex;
    position: relative;
}

.main_content .Latest_Uploads .content .elemo .elemomo:nth-child(1):before {
    content: "2.9mb";
    position: absolute;
    top: 7px;
    right: 0;
    font-size: 14px;
    background-color: #eee;
    padding: 5px 10px;
    border-radius: 5px;
}

.main_content .Latest_Uploads .content .elemo .elemomo:nth-child(2):before {
    content: "4.9mb";
    position: absolute;
    top: 7px;
    right: 0;
    font-size: 14px;
    background-color: #eee;
    padding: 5px 10px;
    border-radius: 5px;
}

.main_content .Latest_Uploads .content .elemo .elemomo:nth-child(3):before {
    content: "4.5mb";
    position: absolute;
    top: 7px;
    right: 0;
    font-size: 14px;
    background-color: #eee;
    padding: 5px 10px;
    border-radius: 5px;
}

.main_content .Latest_Uploads .content .elemo .elemomo:nth-child(4):before {
    content: "8.9mb";
    position: absolute;
    top: 7px;
    right: 0;
    font-size: 14px;
    background-color: #eee;
    padding: 5px 10px;
    border-radius: 5px;
}

.main_content .Latest_Uploads .content .elemo .elemomo:nth-child(5):before {
    content: "4.9mb";
    position: absolute;
    top: 7px;
    right: 0;
    font-size: 14px;
    background-color: #eee;
    padding: 5px 10px;
    border-radius: 5px;
}

.main_content .Latest_Uploads .content .elemo .elemomo:nth-child(6):before {
    content: "8.9mb";
    position: absolute;
    top: 7px;
    right: 0;
    font-size: 14px;
    background-color: #eee;
    padding: 5px 10px;
    border-radius: 5px;
}

.main_content .Latest_Uploads .content .elemo .elemomo:not(:last-child) {
    margin-bottom: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #eee;
}

.main_content .Latest_Uploads .content .elemo .elemomo img {
    width: 40px;
    margin-right: 10px;
}

.main_content .Latest_Uploads .content .elemo .elemomo div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-right: 60px;
}


.main_content .Latest_Uploads .content .elemo .elemomo div p {
    color: #888;
    font-size: 14px;
}

/* Last Project Progress */

.main_content .Last_Project_Progress {
    background-color: #fff;
    border-radius: var(--main-border-radius);
}

.main_content .Last_Project_Progress .content {
    position: relative;
}

.main_content .Last_Project_Progress .content h2 {
    margin-bottom: 35px;
}


.main_content .Last_Project_Progress .content .elemomo {
    display: grid;
    grid-template-columns: auto 1fr;
    margin-bottom: 25px;
    position: relative;
}

.main_content .Last_Project_Progress .content .elemomo:nth-child(5) .out {
    background-color: #fff;
}

.main_content .Last_Project_Progress .content .elemo .out {
    width: 23px;
    height: 23px;
    background-color: var(--second-color);
    border: 2px solid #fff;
    border-radius: 50%;
    outline: 2px solid var(--second-color);
    position: relative;
    margin-right: 20px;
    z-index: 2;
}

.main_content .Last_Project_Progress .content .elemomo:nth-child(1)::before {
    content: "";
    width: 3px;
    height: 216px;
    background-color: var(--second-color);
    position: absolute;
    left: 10px;
}

@media (max-width:340px) {
    .main_content .Last_Project_Progress .content .elemomo:nth-child(1)::before {
        height: 230px;
    }
}

.main_content .Last_Project_Progress .content img {
    width: 160px;
    position: absolute;
    opacity: .1;
    bottom: 0;
    right: 0;
}

@media (max-width:767px) {
    .main_content .Last_Project_Progress .content img {
        display: none;
    }
}

.main_content .Last_Project_Progress .content .elemomo:nth-child(4) .out {
    animation: out 1.5s infinite ease-in-out;
}

@keyframes out {
    50% {
        background-color: #fff;
    }
}


/* Reminders */

.main_content .Reminders {
    background-color: #fff;
    border-radius: var(--main-border-radius);
    padding: 20px;
}

.main_content .Reminders .content {
    padding: 0;
}

.main_content .Reminders .content h2 {
    margin-bottom: 25px;
}


.main_content .Reminders .content .elemomo {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    margin-bottom: 20px;
}



.main_content .Reminders .content .elemomo span {
    width: 15px;
    height: 15px;
    display: block;
    border-radius: 50%;
    margin-right: 15px;
}

.main_content .Reminders .content .elemomo:nth-child(1) span {
    background-color: var(--second-color);
}

.main_content .Reminders .content .elemomo:nth-child(2) span {
    background-color: #22c55e;
}

.main_content .Reminders .content .elemomo:nth-child(3) span {
    background-color: #f59e0b;
}

.main_content .Reminders .content .elemomo:nth-child(4) span {
    background-color: #f44336;
}

.main_content .Reminders .content .elemomo div {
    border-left: 2px solid var(--second-color);
    padding-left: 15px;
}

.main_content .Reminders .content .elemomo.elemomo:nth-child(2) div {
    border-left-color: #22c55e;
}

.main_content .Reminders .content .elemomo.elemomo:nth-child(3) div {
    border-left-color: #f59e0b;
}

.main_content .Reminders .content .elemomo.elemomo:nth-child(4) div {
    border-left-color: #f44336;
}

.main_content .Reminders .content .elemomo div h4 {
    margin-bottom: 10px;
    font-size: 14px;
}

.main_content .Reminders .content .elemomo div p {
    color: #888;
    font-size: 13px;
}

/* Latest Post */
.Latest_Post {
    background-color: #ffff;
    border-radius: var(--main-border-radius);
    padding: 20px;
}

.Latest_Post .content {
    padding: 0;
}

.Latest_Post .content h2 {
    margin-bottom: 25px;
}

.Latest_Post .content .header {
    display: flex;
}

.Latest_Post .content .header img {
    width: 48px;
    height: 48px;
    margin-right: 20px;
}

.Latest_Post .content .header div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.Latest_Post .content .header div p {
    color: #888;
}

.Latest_Post .content .main {
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 1px solid #88888833;
    border-bottom: 1px solid #88888833;
    padding-top: 20px;
    padding-bottom: 30px;
}

.Latest_Post .content .main p {
    line-height: 1.8;
}

@media (max-width:767px) {
    .Latest_Post .content .main p {
        text-align: center;
    }
}

.Latest_Post .content footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Latest_Post .content footer div {
    display: flex;
    color: #888;
}

.Latest_Post .content footer div i {
    margin-right: 5px;
}


/* Social Media Stats */

.Social_Media_Stats {
    background-color: #fff;
    border-radius: var(--main-border-radius);
    padding: 20px;
}

.Social_Media_Stats .content {
    padding: 0;
}

.Social_Media_Stats .content h2 {
    margin-bottom: 30px;
}


.Social_Media_Stats .content .elemomo {
    display: flex;
    position: relative;
    height: 60px;
    margin-bottom: 10px;
}


.Social_Media_Stats .content .elemomo i {
    display: block;
    color: #fff;
    font-size: 30px;
    width: 60px;
    height: 60px;
    display: grid;
    place-items: center;
    position: absolute;
    z-index: 3;
    transition-duration: .3s;
}

.Social_Media_Stats .content .elemomo i:hover {
    transform: rotate(4deg);
}

.Social_Media_Stats .content .elemomo:nth-child(1) i {
    background-color: #1da1f2;
}

.Social_Media_Stats .content .elemomo:nth-child(2) i {
    background-color: #1877f2;
}

.Social_Media_Stats .content .elemomo:nth-child(3) i {
    background-color: #ff0000;
}

.Social_Media_Stats .content .elemomo:nth-child(4) i {
    background-color: #0077b5;
}



.Social_Media_Stats .content .elemomo p {
    padding-left: 70px;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.Social_Media_Stats .content .elemomo:nth-child(1) p {
    background-color: #1da1f233;
}

.Social_Media_Stats .content .elemomo:nth-child(2) p {
    background-color: #1877f233;
}

.Social_Media_Stats .content .elemomo:nth-child(3) p {
    background-color: #ff000033;
}

.Social_Media_Stats .content .elemomo:nth-child(4) p {
    background-color: #0077b533;
}

.Social_Media_Stats .content .elemomo span {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    padding: 3px 8px;
    border-radius: 6px;
    cursor: pointer;
}

.Social_Media_Stats .content .elemomo:nth-child(1) span {
    background-color: #1da1f2;
}

.Social_Media_Stats .content .elemomo:nth-child(2) span {
    background-color: #1877f2;
}

.Social_Media_Stats .content .elemomo:nth-child(3) span {
    background-color: #ff0000;
}

.Social_Media_Stats .content .elemomo:nth-child(4) span {
    background-color: #0077b5;
}

@media (max-width:430px) {
    .Social_Media_Stats .content .elemomo span {
        font-size: 12px;
        right: 5px;
        top: 45px;

    }
}

/* Projects */
.table {
    background-color: #fff;
    border-radius: var(--main-border-radius);
    padding: 20px;
    overflow-x: auto;
}

.table h2 {
    margin-bottom: 20px;
}

.table table {
    border-spacing: 1px;
    background-color: #eee;
    width: 100%;
    min-width: 1000px;
}


.table table thead tr {
    background-color: #eee;

}

.table table thead tr td {
    padding: 15px;
    font-weight: 700;
}

.table table tbody tr td:last-child {
    color: #fff;
    font-size: 13px;
}

.table table tbody tr:nth-child(1) td:last-child span {
    background-color: #f59e08;
    padding: 4px 10px;
    border-radius: 6px;
}

.table table tbody tr:nth-child(2) td:last-child span {
    background-color: #0075ff;
    padding: 4px 10px;
    border-radius: 6px;
}

.table table tbody tr:nth-child(3) td:last-child span {
    background-color: #22c55e;
    padding: 4px 10px;
    border-radius: 6px;
}

.table table tbody tr:nth-child(4) td:last-child span {
    background-color: #22c55e;
    padding: 4px 10px;
    border-radius: 6px;
}

.table table tbody tr:nth-child(5) td:last-child span {
    background-color: #f44336;
    padding: 4px 10px;
    border-radius: 6px;
}

.table table tbody tr:nth-child(6) td:last-child span {
    background-color: #22c55e;
    padding: 4px 10px;
    border-radius: 6px;
}

.table table tbody tr td {
    padding: 15px;
    background-color: #fff;
}

.table table tbody tr td.img {
    display: flex;
    padding-left: 30px;
}

.table table tbody tr:hover td {
    background-color: #faf7f7;
}

.table table td img {
    width: 32px;
    border-radius: 50%;
    border: 3px solid #fff;
    margin-left: -15px;
}

body .search input {
    margin: 20px;
    padding: 10px;

}

body .search input::before {
    font-family: var(--fa-style-family-classic);
    content: "\f002";
    font-weight: 900;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: grey;
}



/* settings.html */

.setting-page {
    display: grid;
    gap: 20px;
}

.setting-page .site-control div:nth-child(2) p {
    margin-bottom: 26px;
}

.setting-page .site-control div:nth-child(2) h3 {
    font-weight: 400;
}


.setting-page .site-control textarea {
    resize: none;
    width: 100%;
    height: 150px;
    border: 1px solid #88888857;
}

.setting-page .site-control textarea::placeholder {
    color: #888;
    font-size: 12px;
}

@media (min-width:620px) {
    .setting-page {
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    }
}


/* general-info */

.general-info ::placeholder {
    font-size: 13px;
}

.general-info>div input {
    border-color: #88888857;
    border-width: 1px;
}

.general-info div .shift {
    background-color: #f0f4f8;
    cursor: not-allowed;
    width: calc(100% - 71px);
}

.general-info div div div input::placeholder {
    color: #aaa;
}


/* Security-Info */

.Security-Info .password,
.Security-Info .factor {
    border-bottom: 1px solid #eee;
}


/* social info */

.social-info form {
    position: relative;
    margin-bottom: 20px;
}

.social-info form i {
    position: absolute;
    width: 40px;
    height: 100%;
    display: grid;
    place-items: center;
    border-right: 1px solid #ddd;
    color: #888;
}

.social-info form:focus-within i {
    color: rgba(0, 0, 0, 0.786);
}

.social-info form input {
    background-color: #f6f6f6;
    display: block;
    width: 100%;
    border: 1px solid #ddd;
    padding-left: 50px;
}


.social-info form ::placeholder {
    font-size: 13px;
}

/* Widgets-Control */


.Widgets-Control .control input {
    appearance: none;
}

.Widgets-Control .control label {
    margin-left: 30px;
    position: relative;
    cursor: pointer;
}

.Widgets-Control .control label::before {
    content: "";
    width: 18px;
    height: 18px;
    border: 2px solid #aaa;
    border-radius: 6px;
    position: absolute;
    top: 2px;
    left: -35px;
}

.Widgets-Control .control label::after {
    font-family: var(--fa-style-family-classic);
    content: "\f00c";
    font-weight: bold;
    position: absolute;
    left: -35px;
    top: 2px;
    color: #fff;
    background-color: var(--second-color);
    width: 18px;
    height: 18px;
    border-radius: 6px;
    border: 2px solid var(--second-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0) rotate(360deg);
    transition: .3s;
}

.Widgets-Control .control input:checked+label::after {
    transform: scale(1) rotate(0);
}

.Widgets-Control .control label:hover::before {
    border-color: var(--second-color);
}

/* Backup Manager */

.Backup-Manager .elemo {
    padding-bottom: 30px;
    border-bottom: 1px solid #8888882c;
}


.Backup-Manager .nano input {
    appearance: none;
}

.Backup-Manager .nano label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}

.Backup-Manager .nano label::before {
    content: "";
    width: 15px;
    height: 15px;
    border: 2px solid #888;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

.Backup-Manager .nano label::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: var(--second-color);
    border-radius: 50%;
    top: 3px;
    left: 3px;
    transition: .3s;
    transform: scale(0);
}

.Backup-Manager .nano input:checked+label::before {
    border-color: var(--second-color);
}

.Backup-Manager .nano input:checked+label::after {
    transform: scale(1);
}

.Backup-Manager .elemomo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

}

@media (max-width:767px) {
    .Backup-Manager .elemomo {
        grid-template-columns: 1fr;
    }
}


.Backup-Manager .elemomo input {
    appearance: none;
}

.Backup-Manager .elemomo label {
    display: block;
    border: 2px solid #00000010;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(62, 62, 62);
    cursor: pointer;
    transition: .2s;
}

.Backup-Manager .elemomo input:checked+label {
    border-color: var(--second-color);
    color: var(--second-color);
}

/* profile */

.main-profile .info {
    width: 100%;
}

.main-profile .left {
    min-width: 200px;
}

.main-profile .left img {
    width: 120px;
}

.main-profile .left p:first-of-type::before,
.main-profile .left p:first-of-type::after {
    content: "";
    height: 5px;
    border-radius: 30px;
    background-color: #ddd;
    position: absolute;
    bottom: -16px;
    left: -35px;
}

.main-profile .left p:first-of-type::before {
    width: calc(100% + 70px);
    background-color: #ddd;
}

.main-profile .left p:first-of-type::after {
    width: 150%;
    background-color: var(--second-color);
}

@media (max-width:1010px) {
    .main-profile .info .right .name {
        display: block;
    }
}

@media (max-width:767px) {
    .main-profile .info {
        display: block;
    }

    .main-profile .info .right .name {
        display: flex;
        justify-content: center;
    }

    .main-profile .info .right .topp {
        text-align: center;
    }

    .phone-pad-left {
        padding-left: 20px;
    }

}


@media (max-width:595px) {
    .main-profile .info .right .name {
        display: block;
    }

    .main-profile .info .right .name p,
    .main-profile .info .right .name div {
        margin: auto;
    }

    .phone-pad-left {
        padding-left: 0px;
    }

    .miniphone-center {
        text-align: center;
    }
}

/* Slills */

.main-profile .skills {
    width: fit-content;
}

.main-profile .skills .elemo div {
    padding: 15px 0;
}

.main-profile .skills .elemo div:not(:last-child) {
    border-bottom: 1px solid #dddddd88;
}

.main-profile .skills .elemo p {
    font-size: 14px;
    width: fit-content;
    background-color: #eee;
    color: #000;
    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 5px;
}

/* skills-active */

.main-profile .info .right>div {
    transition: .3s;
}

.main-profile .info .right>div:hover {
    background-color: #eeeeee4e;
}

.skills-active .Latest-Activities .tivit img {
    width: 64px;
    height: 64px;
}

@media (max-width:767px) {
    .skills-active {
        display: block;
    }

    .main-profile .skills {
        width: 100%;
        margin-bottom: 20px;

    }

    .main-profile .skills .mando {
        text-align: center;
    }

    .main-profile .skills .elemo div {
        justify-content: center;
    }

    .skills-active .Latest-Activities {
        text-align: center;
    }


    .skills-active .Latest-Activities .tivit>div {
        display: block;
    }

    .skills-active .Latest-Activities .tivit img {
        margin: 0 0 10px;
    }

    .skills-active .Latest-Activities .tivit span {
        margin-bottom: 10px;
    }

    .skills-active .Latest-Activities .tivit>div .memor {
        display: block;
    }

    .skills-active .Latest-Activities .tivit>div .memor span {
        display: block;
    }
}

/* main-projects */

.main-projects {
    display: grid;
    gap: 20px;
}

.main-projects img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.main-projects .Design div:first-child span {
    position: absolute;
    right: 0;
    top: -10px;
}

.main-projects .Design div:nth-child(2) {
    height: 80px;
    display: flex;
    align-items: flex-end;
    padding-bottom: 10px;
}

.main-projects .Design div:nth-child(2) img {
    border: 2px solid #fff;
    margin-right: -15px;
}

.main-projects .Design div:nth-child(3) {
    justify-content: flex-end;
}


.main-projects .Design div:nth-child(3) p {
    font-size: 13px;
    margin-left: 5px;
}

.main-projects .Design div:nth-child(4) div {
    height: 8px;
    background-color: #eee;
    border-radius: 30px;
    position: relative;
}

@media (min-width:420px) {
    .main-projects .Design div:nth-child(4) div {
        width: 260px;
    }
}

.main-projects .Design div:nth-child(4) div::before {
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f44336;
    border-radius: 30px;
}


.main-projects .Design:nth-child(2) div:nth-child(4) div::before {
    content: "";
    width: 80%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #22c55e;
    border-radius: 30px;
}

.main-projects .Design:nth-child(3) div:nth-child(4) div::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #0075ff;
    border-radius: 30px;
}

.main-projects .Design:nth-child(4) div:nth-child(4) div::before {
    content: "";
    width: 60%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #22c55e;
    border-radius: 30px;
}

.main-projects .Design:nth-child(5) div:nth-child(4) div::before {
    content: "";
    width: 70%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #22c55e;
    border-radius: 30px;
}

.main-projects .Design:nth-child(6) div:nth-child(4) div::before {
    content: "";
    width: 40%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f44336;
    border-radius: 30px;
}

.main-projects .Design:nth-child(7) div:nth-child(4) div::before {
    content: "";
    width: 65%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #22c55e;
    border-radius: 30px;
}

.main-projects .Design:nth-child(8) div:nth-child(4) div::before {
    content: "";
    width: 60%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #22c55e;
    border-radius: 30px;
}

.main-projects .Design:nth-child(9) div:nth-child(4) div::before {
    content: "";
    width: 90%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #22c55e;
    border-radius: 30px;
}

.main-projects .Design div:nth-child(4) span {
    margin-top: -10px;
}

@media (max-width:767px) {
    .main-projects .Design div:nth-child(3) {
        display: block;
    }

    .main-projects .Design div:nth-child(3) p {
        margin-bottom: 10px;
    }

    .main-projects .Design div:nth-child(4) {
        margin: 0;
    }

    .main-projects .Design div:nth-child(4) div {
        margin: auto;
    }

    .main-projects .Design div:nth-child(4) span {
        display: block;
        float: none;
        margin: 15px 0 0;
        text-align: center;
    }
}

@media (min-width:620px) {
    .main-projects {
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    }

}

/* main-courses */

.main-courses {
    display: grid;
    gap: 20px;
}

.main-courses .element div:nth-child(1) :first-child {
    width: 100%;
}

.main-courses .element div:nth-child(1) img:last-child {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    position: absolute;
    left: 20px;
    top: 20px;
    border: 2px solid #fff;
}

.main-courses .element div:nth-child(2) p {
    line-height: 1.6;
}

.main-courses .element div:nth-child(2) p+span {
    font-size: 13px;
    display: block;
    width: fit-content;
    margin: auto;
    position: absolute;
    bottom: -12px;
    left: calc(50% - 43.6px);

}

@media (min-width:420px) {
    .main-courses {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}

@media (max-width:420px) {}

/* main-friends */
.main-friends {
    display: grid;
    gap: 20px;
}

.main-friends .one i {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 33px;
    height: 33px;
    background-color: #eee;
    border-radius: 100%;
    display: grid;
    place-items: center;
    color: #888;
    cursor: pointer;
    font-size: 14px;
    transition: .3s;
}

.main-friends .one i:hover {
    background-color: var(--second-color);
    color: #fff;
}

.main-friends .one img {
    width: 100px;
    border-radius: 100%;
}

.main-friends .two>span {
    position: absolute;
    font-size: 40px;
    font-weight: 700;
    color: #f59e0b30;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}



@media (max-width:420px) {

    .for-friends .dash,
    .main-friends {
        padding: 10px;
    }

    .main-friends .element {
        width: 100%;
        margin: auto;
    }
}

@media (min-width:400px) {
    .main-friends {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}

@media (max-width:400px) {
    .main-friends .element {
        width: 100%;
    }

    .main-friends .element .three {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

/* main files */



.main-files .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.main-files .element img {
    width: 64px;
    transition: .3s;
}

.main-files .element:hover img {
    transform: rotate(6deg);
}

.main-files .element .one i {
    position: absolute;
    top: 10px;
    left: 10px;
}

.main-files .element .one p {
    margin-top: 20px;
}

.main-files .list-right {
    min-width: 260px;
    height: fit-content;
}

.main-files .list-right .elemo .sin {
    padding: 10px;
    border: 1px solid #ddddddbb;
    margin-bottom: 15px;
    border-radius: 6px;
    display: flex;
}

.main-files .list-right .elemo .sin:nth-child(1) i {
    width: 40px;
    height: 40px;
    color: var(--blue-color);
    background-color: #0075ff33;
    display: grid;
    place-items: center;
}

.main-files .list-right .elemo .sin:nth-child(2) i {
    width: 40px;
    height: 40px;
    color: #22c55e;
    background-color: #22c55e33;
    display: grid;
    place-items: center;
}

.main-files .list-right .elemo .sin:nth-child(3) i {
    width: 40px;
    height: 40px;
    color: #f44336;
    background-color: #f4433633;
    display: grid;
    place-items: center;
}

.main-files .list-right .elemo .sin:nth-child(4) i {
    width: 40px;
    height: 40px;
    color: #f59e0b;
    background-color: #f59e0b33;
    display: grid;
    place-items: center;
}

.main-files .list-right .elemo .sin {
    display: flex;
    align-items: center;
}


.main-files .list-right .elemo .sin i+div {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 6px;
}

.main-files .list-right>div+div {
    background-color: var(--blue-color);
    color: #fff;
    width: fit-content;
    margin: auto;
    padding: 10px 13px;
    font-size: 14px;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;

}

.main-files .list-right>div+div:hover i {
    animation: to-up .4s ease-in-out alternate infinite;
}

@media (max-width:767px) {
    .main-files {
        flex-direction: column-reverse;
    }
}


@keyframes to-up {
    100% {
        transform: translatey(-8px);
    }
}


/* .plans-page */

.plans-page .content {
    display: grid;
    gap: 20px;
}

@media (min-width:570px) {
    .plans-page .content {
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    }
}

.plans-page .one div:nth-child(1) {
    color: #fff;
    background-color: #22c55e;
    border: 3px solid #fff;
    outline: 3px solid #22c55e;
    margin-bottom: 20px;
}

.plans-page .two div:nth-child(1) {
    color: #fff;
    background-color: var(--blue-color);
    border: 3px solid #fff;
    outline: 3px solid var(--blue-color);
    margin-bottom: 20px;
}

.plans-page .three div:nth-child(1) {
    color: #fff;
    background-color: #f59e0b;
    border: 3px solid #fff;
    outline: 3px solid #f59e0b;
    margin-bottom: 20px;
}

.plans-page .one div:nth-child(1) p::before,
.plans-page .two div:nth-child(1) p::before,
.plans-page .three div:nth-child(1) p::before {
    content: "$";
    font-size: 24px;
    position: absolute;
    top: 0;
    left: -20px;
}


.plans-page .one div:nth-child(2) p,
.plans-page .two div:nth-child(2) p,
.plans-page .three div:nth-child(2) p {
    padding: 15px 20px 15px 0;
    font-weight: 500;
    padding-left: 25px;
    border-bottom: 1px solid #88888820;
    position: relative;
}

.plans-page .one div:nth-child(2) p:before {
    font-family: var(--fa-style-family-classic);
    content: "\f00d";
    font-weight: 900;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #f44336ed;
    cursor: pointer;
    font-size: 18px;
}

.plans-page .one div:nth-child(2) p:nth-child(1):before,
.plans-page .one div:nth-child(2) p:nth-child(2):before,
.plans-page .one div:nth-child(2) p:nth-child(3):before {
    font-family: var(--fa-style-family-classic);
    content: "\f00c";
    font-weight: 900;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #22c55e;
    cursor: pointer;
    font-size: 18px;
}

.plans-page .one div:nth-child(2) p:after,
.plans-page .two div:nth-child(2) p:after,
.plans-page .three div:nth-child(2) p:after {
    font-family: var(--fa-style-family-classic);
    content: "\f05a";
    font-weight: 900;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: gray;
    cursor: pointer;
}

.plans-page .one a {
    background-color: #22c55e;
    color: #fff;
    width: fit-content;
    margin-top: 20px;
    padding: 5px 12px;
    border-radius: 6px;
    cursor: pointer;
    display: block;
    font-weight: 500;
}


.plans-page .two a {
    background-color: var(--blue-color);
    color: #fff;
    width: fit-content;
    margin-top: 20px;
    padding: 5px 12px;
    border-radius: 6px;
    cursor: pointer;
    display: block;
    font-weight: 500;
}

.plans-page .two div:nth-child(2) p:nth-child(8):before,
.plans-page .two div:nth-child(2) p:nth-child(9):before {
    font-family: var(--fa-style-family-classic);
    content: "\f00d";
    font-weight: 900;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #f44336ed;
    cursor: pointer;
    font-size: 18px;
}

.plans-page .two div:nth-child(2) p::before,
.plans-page .three div:nth-child(2) p::before {
    font-family: var(--fa-style-family-classic);
    content: "\f00c";
    font-weight: 900;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #22c55e;
    cursor: pointer;
    font-size: 18px;
}

.plans-page .one,
.plans-page .two,
.plans-page .three {
    width: 100%;
}